@model DocsContent

<div class="rich-text @Model.HtmlClasses" @Html.DxaEntityMarkup()>

    <h1>Content Mashups</h1>

    <div class="content">
        <div @Html.DxaPropertyMarkup(() => Model.EmbeddedContent)>
            @Model.EmbeddedContent
        </div>
    </div>

    <div @Html.DxaPropertyMarkup(() => Model.Link)>
        <a href="#">@Model.Link</a>
    </div>

</div>