@model ArticleModel
<div class="entity" @Html.DxaEntityMarkup()>
    <h5>Rendered @Model with Entity View "Test:Article"</h5>
    <p>Text value of DxaEntityMarkup() @Html.DxaEntityMarkup()</p>
    <p>TestEntity1 Container size - @ViewBag.ContainerSize</p>
    <table>
        <tr >
            <td>Heading</td>
            <td @Html.DxaPropertyMarkup(() => Model.Heading)>@Model.Heading</td>
        </tr>
        <tr>
            <td>Media</td>
            <td @Html.DxaPropertyMarkup(() => Model.Media)>@Model.Media</td>
        </tr>
        <tr>
            <td>Content</td>
            <td @Html.DxaPropertyMarkup(() => Model.Content)>@Model.Content</td>
        </tr>
        <tr>
            <td>SideArticle</td>
            <td @Html.DxaPropertyMarkup(() => Model.SideArticle)>@Model.SideArticle.Heading</td>
        </tr>
    </table>
</div>
