@model EmbedParentModel
<div class="entity" @Html.DxaEntityMarkup()>
    <h5>Rendered @Model with Entity View "Test:EmbedParent"</h5>
    <table border="1">
        <tr>
            <td><strong>Field name</strong></td>
            <td><strong>Value</strong></td>
            <td><strong>Value</strong></td>
        </tr>
        <tr>
            <td>Title</td>
            <td>@Model.Title</td>
            <td>@Model.Title</td>
        </tr>
        <tr>
            <td>EmbeddedEntity</td>
            <td>@Model.EmbeddedEntity</td>
            <td>@Model.EmbeddedEntity.Description</td>
        </tr>
    </table>
</div>
