@model SimpleTestEntityModel
<div class="entity" @Html.DxaEntityMarkup()>
    <h3>Rendered @Model with Entity View "Test:SimpleTestEntity"</h3>

    SingleLineText:
    <div @Html.DxaPropertyMarkup(() => Model.SingleLineText)>
        '@Model.SingleLineText'
    </div>

    MetadataTextField:
    <div @Html.DxaPropertyMarkup(() => Model.MetadataTextField)>
        '@Model.MetadataTextField'
    </div>
</div>
