@model TestFlickrImageModel
<div class="entity" @Html.DxaEntityMarkup()>
    <h5>Rendered @Model with Entity View "Test:TestFlickrImage"</h5>
    <table>
        <tr >
            <td>EclUri</td>
            <td>@Model.EclUri</td>
        </tr>
        <tr>
            <td>EclDisplayTypeId</td>
            <td>@Model.EclDisplayTypeId</td>
        </tr>
        <tr>
            <td>EclTemplateFragment</td>
            <td>@Model.EclTemplateFragment</td>
        </tr>
        <tr>
            <td>EclExternalMetadata</td>
            <td>@Model.EclExternalMetadata</td>
        </tr>
        <tr>
            <td>TestProperty1 (custom metadata Text field)</td>
            <td>@Model.TestProperty1</td>
        </tr>
        <tr>
            <td>TestProperty2 (custom metadata Number field)</td>
            <td>@Model.TestProperty2</td>
        </tr>
        <tr>
            <td>TestProperty3 (custom metadata Date field)</td>
            <td>@Model.TestProperty3</td>
        </tr>
    </table>
    @Html.Media(Model)
</div>
