@model Tsi2316TestEntity
<div class="entity" @Html.DxaEntityMarkup()>
    <h3>Rendered @Model with Entity View "Test:TSI811Test"</h3>

    <h4>NotPublishedKeyword</h4>
    <div>NotPublishedKeyword.Title: @Model.NotPublishedKeyword.Title</div>
    <div>NotPublishedKeyword.Description: @Model.NotPublishedKeyword.Description</div>
    <div>NotPublishedKeyword.Key: @Model.NotPublishedKeyword.Key</div>
    <div>NotPublishedKeyword.TaxonomyId: @Model.NotPublishedKeyword.TaxonomyId</div>

    <h4>PublishedKeyword</h4>
    <div>PublishedKeyword.Title: @Model.PublishedKeyword.Title</div>
    <div>PublishedKeyword.Description: @Model.PublishedKeyword.Description</div>
    <div>PublishedKeyword.Key: @Model.PublishedKeyword.Key</div>
    <div>PublishedKeyword.TaxonomyId: @Model.PublishedKeyword.TaxonomyId</div>
    <div>PublishedKeyword.TextField: @Model.PublishedKeyword.TextField</div>
    <div>PublishedKeyword.NumberField: @Model.PublishedKeyword.NumberField</div>
    <div>PublishedKeyword.DateField: @Model.PublishedKeyword.DateField</div>
    <div>PublishedKeyword.CompLinkField: @Model.PublishedKeyword.CompLinkField</div>
    <div>PublishedKeyword.KeywordField: @Model.PublishedKeyword.KeywordField</div>
</div>
