@model SearchQuery

<div class="rich-text @Model.HtmlClasses" @Html.DxaEntityMarkup()>
    @if (Model.Headline != null)
    {
        <div class="page-header page-header-top">
            <h1 class="h3" @Html.DxaPropertyMarkup(() => Model.Headline)>@Model.Headline</h1>
        </div>
    }

    @if (Model.Total > 0)
    {
        if (Model.ResultsText != null)
        {
            <div @Html.DxaPropertyMarkup(() => Model.ResultsText)>
                @Html.Raw(string.Format(Model.ResultsText, Html.Encode(Model.QueryText), Model.Total))
            </div>
        }
        
        @Html.Partial("Partials/Pager")

        <div class="list-group">
            @foreach (SearchItem item in Model.SearchItems)
            {
                @Html.DxaEntity(item)
            }
        </div>

        @Html.Partial("Partials/Pager")
    }
    else if (Model.NoResultsText != null)
    {
        <div @Html.DxaPropertyMarkup(() => Model.NoResultsText)>
            @Html.Raw(string.Format(Model.NoResultsText, Html.Encode(Model.QueryText)))
        </div>
    }
</div>
