﻿@model DynamicWidget

<div class="rich-text @Model.HtmlClasses" @Html.DxaEntityMarkup()>

    @if (Model.Topics != null && Model.Topics.Any())
    {
        var lastId = Model.Topics.Last().Id;

        foreach (Topic topic in Model.Topics)
        {
            if (Model.DisplayContentAs.ToLower() == "embedded content")
            {
                @Html.DxaEntity(topic)
            }
            else
            {
                <div @Html.DxaPropertyMarkup(() => Model.Topics)>
                    <a href="@topic.Link" target="_blank">@topic.Title</a>
                </div>

            }
            if (@topic.Id != lastId)
            {
                <br />
            }
        }
    }
    else
    {
        if (WebRequestContext.Localization.IsXpmEnabled)
        {
            <span>&nbsp;</span>
        }
    }

</div>