﻿@model DynamicWidget

<div class="rich-text @Model.HtmlClasses" @Html.DxaEntityMarkup()>

    @if (Model.TridionDocsItems != null)
    {
        foreach (TridionDocsItem item in Model.TridionDocsItems)
        {
            if (Model.DisplayContentAs.ToLower() == "embedded content")
            {
                <div class="content">
                    <div @Html.DxaPropertyMarkup(() => Model.TridionDocsItems)>
                        @Html.Raw(@item.Body)
                    </div>
                </div>
                <br />
            }
            else
            {
                <div @Html.DxaPropertyMarkup(() => Model.TridionDocsItems)>
                    <a href="@item.Link">@item.Title</a>
                </div>
                <br />
            }
        }
    }

</div>