﻿@model DynamicWidget

<div class="rich-text @Model.HtmlClasses" @Html.DxaEntityMarkup()>

    <h1>Content Mashups</h1>

    @foreach (var property in Model.Properties)
    {
        <div class="content">
            <div>
                <!-- Not able to add DxaPropertyMarkup to each item in the dictionary, because the items are not valid properties in the Model -->
                <b>property:</b> @property
            </div>
        </div>
    }

    <div class="content">
        <b>Query:</b> @Model.Query
    </div>

    <div class="content">
        <div @Html.DxaPropertyMarkup(() => Model.EmbeddedContent)>
            <b>EmbeddedContent:</b> @Model.EmbeddedContent
        </div>
    </div>

    <div @Html.DxaPropertyMarkup(() => Model.Link)>
        <b>Link:</b> <a href="#">@Model.Link</a>
    </div>

</div>