@model StaticWidget

<div class="rich-text @Model.HtmlClasses" @Html.DxaEntityMarkup()>

    @if (!string.IsNullOrEmpty(Model.EmbeddedContent))
    {
        <div class="content">
            <div @Html.DxaPropertyMarkup(() => Model.EmbeddedContent)>
                @Html.Raw(Model.EmbeddedContent)
            </div>
        </div>
    }

    @if (!string.IsNullOrEmpty(Model.Link))
    {
        <div @Html.DxaPropertyMarkup(() => Model.Link)>
            <a href="@Model.Link">@Model.Title</a>
        </div>
    }

</div>