@model StaticWidget

<div class="rich-text @Model.HtmlClasses" @Html.DxaEntityMarkup()>

    @if (Model.TridionDocsItems != null && Model.TridionDocsItems.Any())
    {
        var lastId = Model.TridionDocsItems.Last().Id;

        foreach (TridionDocsItem item in Model.TridionDocsItems)
        {
            if (Model.DisplayContentAs.ToLower() == "embedded content")
            {
                <div class="content">
                    <div @Html.DxaPropertyMarkup(() => Model.TridionDocsItems)>
                        @Html.Raw(@item.Body)
                    </div>
                </div>
            }
            else
            {
                <div @Html.DxaPropertyMarkup(() => Model.TridionDocsItems)>
                    <a href="@item.Link">@item.Title</a>
                </div>
            }

            if (@item.Id != lastId)
            {
                <br />
            }
        }
    }
    else
    {
        if (Model.IsXpmEnabled)
        {
            <span>&nbsp;</span>
        }
    }

</div>