@model Sdl.Web.Modules.Impress.Models.Slide
<div id="@Model.StepTitle" class="step @Model.HtmlClasses" data-x="@Model.XCoordinate" data-y="@Model.YCoordinate" data-scale="@Model.Scale" @Html.DxaEntityMarkup()>
</div>
