@model MediaManagerDistribution

@if (Model.IsEmbedded)
{
    @Html.Media(Model, cssClass: "embed-video " + Model.HtmlClasses)
}
else
{
    // use a unique guid so we won't have conflicts with the same video on the page multiple times
    string guid = System.Guid.NewGuid().ToString();

    <div class="video @Model.HtmlClasses" @Html.DxaEntityMarkup()>
        @* it is possible to use @Html.Media(Model) here like in the embedded example, now we use the model properties directly to produce a media manager video embed script *@
        <div id="@guid"></div>
        <script src="@Model.EmbedScriptUrl&trgt=@guid&responsive=true"></script>
    </div>
}
