@model MediaManagerDistribution

@if (Model.IsCustomPlayerEnabled)
{
    // custom player selected
    // use partial view and let our display mode handle adding device family suffix
    @Html.Partial("Partials/customplayer-html5dist", Model);
}
else
{ 
    // standard player selected
    if (Model.IsEmbedded)
    {
        @Html.Media(Model, cssClass: "embed-video")
    }
    else
    {
        // use a unique guid so we won't have conflicts with the same video on the page multiple times
        string guid = System.Guid.NewGuid().ToString();

        <div class="video @Model.HtmlClasses" @Html.DxaEntityMarkup()>
            @* The Template Fragment provided by MM connector does not support responsive resizing. So instead of using Html.Media, we output the MM embed script directly here. *@
            <div id="@guid"></div>
            <script src="@Model.EmbedScriptUrl&trgt=@guid&responsive=true"></script>
        </div>
    }
}
