@model MediaManagerDistribution

<div id="video-@Model.Id" class="video @Model.HtmlClasses"
     data-mm-url="@Model.DistributionJsonUrl"
     data-mm-quality="480"
     data-mm-subtitles="@Model.Subtitles"
     data-mm-autoplay="@Model.Autoplay"
     data-mm-controls="@Model.ShowControls">
</div>