@model DocsContentViewModel

<div class="rich-text @Model.HtmlClasses" @Html.DxaEntityMarkup()>

    <h1>Content Mashups</h1>

    @foreach (var properties in Model.Properties)
        {
            <div class="content">
                <div>
                    @properties
                </div>
            </div>
        }

    @*<div class="content">
        <div>
            <b>Properties:</b> @Model.Properties
        </div>
    </div>*@

    <div class="content">
        <b>Query:</b> @Model.Query
    </div>

    <div class="content">
        <div @Html.DxaPropertyMarkup(() => Model.EmbeddedContent)>
            <b>EmbeddedContent:</b> @Model.EmbeddedContent
        </div>
    </div>

    <div @Html.DxaPropertyMarkup(() => Model.Link)>
        <b>Link:</b> <a href="#">@Model.Link</a>
    </div>

</div>